
*{
    box-sizing: border-box;
}

html{
    font-family: Spartan;
    font-weight: 700;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(222, 26%, 31%);
    color: white;
}

.calc-container{
    /* border: 1px solid black; */
    height: 600px;
    width: 500px;
    /* margin: 50px; */
}

.calc-inner{
    width: 90%;
    margin: auto;
}

.top-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.theme-things{
    display: flex;
    align-items: center;
}

.theme-things p{
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    font-size: 0.8rem;
}

.theme-toggle{
    /* border: 1px solid green; */
    width: 50px;
    margin-left: 20px;
    padding: 1px;
    border-radius: 20px;
    background-color: hsl(223, 31%, 20%);
    display: flex;
    align-items: center;
    height: 20px;

}

.theme-toggle span{
    display: block;
    border-radius: 50%;
    width: 1%;
    height: 5px;
    padding: 4px;
    margin: 4px;
    cursor: pointer;
}

.theme-toggle span:first-child{
    background-color: hsl(6, 63%, 50%);
}

.theme-toggle .first::before{
    content: "1";
}

.theme-toggle .second::before{
    content: "2";
}

.theme-toggle .third::before{
    content: "3";
}

.theme-toggle .first::before, .theme-toggle .second::before, .theme-toggle .third::before{
    display: inline-block;
    margin-left: -3px;
    position: absolute;
    top: 45px;
    font-size: 0.8rem;
}

.entry-point{
    width: 100%;
    height: 150px;
    /* border: 1px solid black; */
    border-radius: 8px;
    background-color: hsl(224, 36%, 15%);
    text-align: right;
    font-size: 32px;
    color: hsl(0, 0%, 100%);
    padding: 20px 20px;
    word-wrap: break-word;
    word-break: break-all;
}

.entry-point .memory{
    color: rgba(255, 255, 255, .75);
    margin: 5px auto;
    font-size: 1.5rem;
}

.numpad{
    margin: 30px auto;
    width: 100%;
    height: fit-content;
    /* border: 1px solid black; */
    border-radius: 8px;
    background-color: hsl(223, 31%, 20%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 30px 30px;
    grid-template-areas:
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . ."
    "reset reset equal equal";
    padding: 25px;
}

.reset { grid-area: reset; }
.equal { grid-area: equal; }

.text{
    color: hsl(0, 0%, 100%);
    font-size: 2rem;
}

.grid-item{
    /* border: 1px solid black; */
    text-align: center;
    margin: auto;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    font-size: 20px;
    background-color: hsl(30, 25%, 89%);
    box-shadow: 0px 2px 3px hsl(28, 16%, 65%);
    cursor: pointer;
    color: hsl(221, 14%, 31%);
}

.grid-item::selection{
    user-select: none;
}

.gb{
    background-color: hsl(225, 21%, 49%);
    box-shadow: 0px 2px 3px hsl(224, 28%, 35%);
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    font-size: 16px;
}

.rb{
    background-color: hsl(6, 63%, 50%);
    box-shadow: 0px 2px 3px hsl(6, 70%, 34%);
    color: hsl(0, 0%, 100%);
}

/* theme classes */
.theme-two{
    box-shadow: 0px 2px 50px hsl(28, 16%, 65%);
}